<h5>FAQ's</h5>
<% if @faqs.present? %>
  <% for faq in @faqs %>
  <div class="frow frow-profile">
          <div>
          <div class="box-content clearfix"> 
            <p>
            Class Name: <%= faq.subject.cls.class_name %><br/>
            Subject Name: <%=faq.subject.subject_name%>  
            </p>
            <p>
             Q: <%= faq.question %> ? <br/>
             A: <%= faq.answer %>
            </p>
          </div>
          </div>
      <% end %>
<% else %>
  <span style="color: red;">No FAQ's</span>
<% end %>