




<p>Hi Admin, Some one want to contact you, His Details</p>

<p>
  Name: <%= @name %>
</p>
<br/>


<p>
  Email: <%= @email %>
</p>
<br/>


<br/>
<p>
  Message: <%= @message %>
</p>

<p>Thanks</p>
<p>Team Go4UsedCar</p>

