<%= form_for :user, :url => student_upload_csv_school_upload_csvs_path(@school), :html => {:multipart => true}, :remote => true do |f| %>

     <div class="frow frow-class">
        <div>
          <div class="top-spacing"> Select csv file: </div>
        </div>
        <div>
          <textarea title="Attach file" placeholder="No file chosen" class="textarea-no" id="uploadFile" disabled="disabled"></textarea>
          <div class="box-attech"> 
          <span class="btn btn-file">Attach file
          <%= f.file_field :csv %>
          </span> 
            
          </div>
          <input title="Upload" type="submit" alt="" value="Upload" class="btn btn-post btn-upload"/>
        </div>
      </div>
  
<% end %>

<script type="text/javascript">
   document.getElementById("user_csv").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>

