<div class="whats_happening">Readings</div>
<% if @readings.present? %>
  <% for reading in @readings %>
  <div class="frow frow-profile">
          <div>
          <div class="box-content clearfix"> 
            <p>
            Class Name: <%= reading.subject.cls.class_name %><br/>
            Subject Name: <%=  reading.subject.subject_name%>  
            </p>
            <p>
             Title: <%= reading.title %><br/>
             Reading: <%= reading.reading %>
            </p>
          </div>
          </div>
    
  <% end %>
<% else %>
  <span style="color: red;">No Readings</span>
<% end %>