<%= render "layouts/left_side_menu" %>
<div id="right-column">
<div class="box-workday" id="posts">
    Mentions
    <span id="success" style="color: green;display: none;float: right;font-size: 15px;position: relative;top: -5px;">Successfully deleted this post.</span>
  
    <%= render :partial => 'index' %>
    <input type="hidden" value="show" id="post_type" />
    <input type="hidden" value="<%= current_user.school_admin.id %>" id="school_post_type" />
  </div>
 </div>

<script>
  jQuery(function() {
    jQuery(window).scroll(
            function() {
              if (($(window).scrollTop() == $(document).height() - $(window).height()) && jQuery('#posts_page').val() > 0)
              {
                if (jQuery("#post_type").val() == 'show') {
                  notification_replies(jQuery('#school_post_type').val(), jQuery('#posts_page').val())
                }
              }
            });
  });
</script>
