<%= render "layouts/left_side_menu" %>

<div id="right-column">
<div class="box-workday">
    <span id="success" style="color: green;display: none;float: right;font-size: 15px;position: relative;top: -5px;">Successfully deleted this post.</span>
    <%= render :partial => 'index' %>
    <input type="hidden" value="inbox" id="post_type" />
</div>
</div>
