<div id="right-column">
    <h2><span class="icon-creation"></span>Class Creation</h2>
    <div class="box-name">
      <div class="frow frow-class">
        <div> ClassName: </div>
        <div>
        <%= f.text_field :class_name,:class=>"input-class" %>
         
        </div>
      </div>
      <div class="frow frow-class">
        <div> Subject Name: </div>

        <div id="p_scents">
        <%= f.fields_for :subjects, :html=>{:multipart => true} do |builder| %>
    <% if builder.object.assign != "Assigned" %>
      <label class="sr-only" for="exampleInputPassword2">Subject Name</label>
      <%= builder.autocomplete_field :subject_name,autocomplete_subject_subject_name_school_clses_path,:class=>"input-class"  %>
    <% end %>
  <% end %>
          
      <p class="fleft"></p>
  <% if params[:action] == "new"%>
    <%= link_to_add_fields "", f,:subjects %>
  <%  end %>
          
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="frow frow-class">
        <div> </div>
        <div>
          <input alt="" title="Save" type="submit" value="Save" class="btn btn-save"/>
        </div>
      </div>
    </div>
  </div>

