<div class="col-md-7 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">

 <link rel="stylesheet" href="/assets/home/bootstrap.min.css">
  <center>

<%= form_for(@class, :url => school_clse_path(@school,@class), :html => {:class => 'form-inline'}, :method => :put) do |f| %>
<h2>Editing Class</h2>
</center>
  <%=render :partial => "form", :locals =>{:f => f }%>
<% end %>

</div>
</div>
</div>


