<% if @classes.present? %>

<div id="right-column">
    <h2><span class="icon-studenT"></span>Classes With Subjects</h2>
    <div class="box-table">
      <table class="table">
        <thead>
          <tr>
          <th>Class Name</th>
      <th>Subjects Details</th>
      <th>Actions</th>
    </tr>
  </thead>
    <% for cls in @classes %>
      <tr style="text-align: center;">
        <td><%= cls.class_name %></td>
        <td><%= link_to "Display Subjects", school_clse_cls_subjects_path(:school_id => current_school_admin.id,:clse_id=>cls.id),:remote=>true,:class=>"btn btn-success" %></td>
        <td><%= link_to "<i class='fa fa-envelope-o'></i>".html_safe, edit_school_clse_path(:school_id => current_school_admin.id,:id =>cls.id) %>|
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe,school_clse_path(:school_id => current_school_admin.id,:id =>cls.id),:method=>:delete,:data=> { :confirm=> 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </table>
  </div>
<% else %>
  <span style="color: red;font-size: 15px;left: 166px;position: relative;top: 42px;">No Classes.</span>
<% end %>

<div id="cls_subjects"></div>
