<div class="col-md-7 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">

 <link rel="stylesheet" href="/assets/home/bootstrap.min.css">

<center>
<h2>Class Creation</h2>
</center>

<%= form_for(@class, :url => school_clses_path(@school),:method => :post, :html => {:class => "form-inline"}) do |f| %>
<%=render :partial => "form", :locals =>{:f => f }%>
<% end %>
</div>
</div>
</div>
</div>