
 <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
 <link rel="stylesheet" href="/assets/home/bootstrap.min.css">
<table class="table table stripped">
<tr>
<th>Student Id</th>
<th>Date</th>
<th>Attendance Status</th>
</tr>
<% @parent.users.each do |attend| %>
<% attend.attendances.each do |a| %>
<tr>
<td><%= a.user_id %></td>
<td><%= a. created_at.strftime("%d-%m-%Y") %></td>
<td><%= a.attendance_status.capitalize %></td>
</tr>
<% end %>
<% end%>
</table>
</div>
</div>
</div>

<style>
*table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}*/
</style>
