 <%#= @users.inspect %>


  <table class="table table stripped">
    <tr>
      <th>Student Name</th>
         <% for day in (@start_date..(@end_date)).to_a %>
        <th><%= day.strftime("%d-%m-%y") %></th>
      <% end %>
    </tr>
    <% for school in @users %>
      <tr> 
        <% if school.role == 'student'%>
          <td><%= school.first_name %></td>
          <% for day in (@start_date..(@end_date)).to_a %>
            <td>
          <% @date1 = Attendance.find_by_today_date_and_attendance_status_and_receiver_id(day,'present',school.id) %>
            <%= check_box_tag "student_dates[]","", @date1.present? ? true : false, disabled: true %></td>
          <% end %>
        <%end%>
      </tr>
    <% end %>
  </table>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>