 <%#= @users.inspect %>


  <table class="table table stripped">
    <tr>
      <th>Student Name</th>
         <% for day in (@start_date..(@end_date)).to_a %>
        <td><%= day.strftime("%d-%m-%y") %></td>
      <% end %>
    </tr>
    <% for school in @users %>
      <tr> 
        <% if school.role == 'student'%>
          <td><%= school.first_name %></td>
          <% for day in (@start_date..(@end_date)).to_a %>
            <td>
          <% @date1 = Attendance.find_by_today_date_and_attendance_status_and_receiver_id(day,'present',school.id) %>
            <%= check_box_tag "student_dates[]","", @date1.present? ? true : false, disabled: true %></td>
          <% end %>
        <%end%>
      </tr>
    <% end %>
  </table>

<style>


.table th, .table td {
    border-top: 3px solid #ddd;
    line-height: 16px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
