<table>
<tr>
  <td>
  Subject
  </td>
  <td>Marks</td>
  </tr>
<% for subject in @subjects %>
<tr>
<td>
    <%= subject.subject.subject_name %>
  </td>
  <td><%= subject.max_marks %></td>
  </tr>
    <% end %>
  </table>
